.value-output {
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    color: #222c6d;
    height: 0;
    overflow: hidden;
    transition: all 0.6s ease;
    margin-top: 24px;

    &.not-ready {
        opacity: 0 !important;
    }

    .value-output-inner {
        padding: 16px 12px 16px;
    }

    .title {
        display: block;
        font-size: 11px;
        opacity: 0.4;
        margin: 0 0 4px;
    }
    .value {
        padding-left: 25px;
    }

    .seperator {
        display: block;
        font-size: 12px;
        line-height: 1;
        margin-bottom: 8px;
    }

    .to {
        margin-left: 4px;
        opacity: 0.4;
        font-size: 12px;
        line-height: 1;
        margin-bottom: 8px;
    }
}