.value-output {
    background: rgba(255, 255, 255, 0.9);
    padding: 16px 12px;
    text-align: center;
    margin-top: 24px;
    font-size: 18px;
    line-height: 18px;
    color: #222c6d;

    .title {
        display: block;
        font-size: 11px;
        opacity: 0.4;
        margin: 0 0 4px;
    }
    .value {
        padding-left: 25px;
    }

    .seperator {
        display: block;
        font-size: 12px;
        line-height: 1;
        margin-bottom: 8px;
    }

    .to {
        margin-left: 4px;
        opacity: 0.4;
        font-size: 12px;
        line-height: 1;
        margin-bottom: 8px;
    }
}